
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="max-height: 250px !important;">
    <div class="{{!$index ? 'item active' : 'item'}}" ng-repeat="e in upcomingEvents">
      <img src="{{e.current_event_cover_url}}"/>
      <span>{{ e.current_event.event_name}}</span>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> <!-- Carousel -->
<br/>

<div class="panel panel-default">
  <div class="panel-body">
    <form>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <label class="form-control">
            I'd like to see
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <select 
            class="form-control"
            ng-options="item as item for item in events track by $index" 
            ng-model="selectedEvent"></select>
        </div>
        <div class="col-sm-1 col-xs-12">
          <label class="form-control">
             at
          </label>
        </div>
        <div class="col-sm-3 col-xs-12">
          <select 
            class="form-control"
            ng-options="item as item.place_name for item in places track by $index" 
            ng-model="selectedPlace"></select>
        </div>
        <div class="col-sm-2 col-xs-12">
          <button class="form-control btn btn-success">
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  $('.carousel').carousel();
</script>
